<template>
    <div>
        <form @submit.prevent="handleClick">
            <label for="urlListInput">Allowed Domains</label>
            <textarea id="urlListInput" rows="6" v-model="urlList"></textarea>

            <label for="blockDurationInput">Block Duration in Minutes</label>
            <input id="blockDurationInput" type="number" v-model="blockDuration" />

            <button id="startSessionButton" type="submit">Submit</button>
        </form>
    </div>
</template>

<script lang="ts">
export default {
    data() {
        return {
            urlInput: "",
            blockDuration: 30
        };
    },
    computed: {
        urlList() {
            return this.urlInput.split("\n");
        }
    },
    methods: {
        handleClick(): void {
            console.log(`URL List: ${this.urlList}`);
            console.log(`Block Duration: ${this.blockDuration} minutes.`)
        },
    },
};
</script>
